<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <!-- Redirect static file requests to /public -->
        <rule name="Static Files in public" stopProcessing="true">
          <match url="^(assets|css|js|images|fonts)/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/{R:0}" />
        </rule>

        <!-- Rewrite other requests to public/index.php -->
        <rule name="Front Controller" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/index.php" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
